<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mails Enviados</title>
    <% include partials/head %>
</head>
<body>
    <% include partials/header %>
    <h2 class="mensaje">Mail enviado</h2>

    <div class="redirect">
        <p>Volver a tu perfil <a href="/profile">Perfil</a></p>
        <p>O volver a <a href="/">Home</a>.</p>
    </div>
</body>
</html>