<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <% include partials/head %>
</head>
<body>
    <% include partials/header %>
    <h1 class="mensaje">El mail no ha sido enviado. El/Los destinatarios no existen</h1>

    <div class="redirect">
        <p>Go to <a href="/profile">Profile</a></p>
        <p>Or go <a href="/">Home</a></p>
    </div>
</body>
</html>