<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login App | Index</title>
    <% include partials/head %>
</head>
<body>
    <section id="hero">
        <div class="wrapper">
            <div class="index">
                <h1><i class="fa fa-lock"></i>Login or Register</h1>
                <a href="/login" class="button">
                    <i class="fa fa-user"></i> Local Login
                </a>
                <a href="/signup" class="button">
                    <i class="fa fa-user"></i>Local Signup
                </a>
            </div>
        </div>
    </section>

    <% include partials/footer %>
</body>
</html>