<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Page</title>
    <% include partials/head %>
</head>
<body>
    <% include partials/header %>
    <section id="profile">
        <div class="wrapper">
            <aside id="bandeja">
                <div id="logo">
                    <img src="img/mail.png" alt="">
                    <span>Mail</span>
                </div>
                <div class="redactar">
                    <i class="fas fa-plus"></i>
                    <a href="#">Redactar Mail</a>
                </div>
                <div class="recibidos">
                    <i class="fas fa-envelope"></i>
                    <a href="/recibidos">Recibidos</a>
                </div>
                <div class="enviados">
                    <i class="fas fa-location-arrow"></i>
                    <a href="/enviados">Enviados</a>
                </div>
            </aside>

            <form action="/enviar" method="POST" id="nuevo">
                <input type="email" name="receptor" placeholder="Ingrese destinatario/s" required>
                <input type="text" name="asunto" placeholder="Asunto" required>
                <textarea name="mensaje" cols="30" rows="10" placeholder="Escribe aquí tu mensaje" id="texto" required></textarea>
                <input type="submit" value="Enviar" class="button">
            </form>

        </div>
    </section>

    <% include partials/footer %>
</body>
</html>