<header>
    <div class="wrapper">
        <div class="account">
            <i class="fa fa-user"></i>
            <p>Bienvenido: <strong><%= user.nombre %></strong></p>
            <a href="/logout" class="button">Cerrar Sesión</a>
        </div>
    </div>
</header>